body {
    background: black;
    color: white;
    text-align: center;
  }
  
  a {
    color: #c0c0c0;
    text-decoration: none;
  
    &:visited {
      color: #c0c0c0;
      text-decoration: none;
    }
  
    &:hover {
      color: #e0e0e0;
    }
  
    &:active {
      color: #808080;
    }
  }
  
  .summary {
    font-style: italic;
  }